
@{
  Layout = "_Layout";
}
<h1>Add a new order to @Model.Name</h1>

<form action="/vendors/@Model.Id/orders" method="post" id="order-form"">
  <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">
  <label for="orderTitle" class="p-2">Order Title</label>
  <input id="orderTitle" name="orderTitle" type="text">
  <br>
  <label for="orderDescription" class="p-2">Order Description</label>
  <input id="orderDescription" name="orderDescription" type="text">
  <br>
  <label for="orderPrice" class="p-2">Order Price</label>
  <input id="orderPrice" name="orderPrice" type="number">
  <br>
  <label for="orderDate" class="p-2">Order Date</label>
  <input id="orderDate" name="orderDate" type="date" value="2022-12-29">
  <br>
  <button type='submit'>Add Order</button>
</form>
