
@{
  Layout = "_Layout";
}
<h1>Welcome to Order tracker!</h1>
<p>You can keep track of your vendors and corresponding orders!</p>
<h3><a href='/vendors'>View vendors</a></h3>
<h3><a href='/vendors/new'>Add a new vendor</a></h3>
